.button {
  border: 3px solid #423E39;
  border-radius: 5px;
  font-size: 1.25em;
  background-color: white;
  text-decoration: none;
  color: #423E39;
  padding: 15px;
}

.button.button-green {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  background-color: #18bc9c;
  border-color: #18bc9c;
  margin-top: 30px;
}

.button.button-green:hover {
  background-color: #139078;
  border-color: #139078;
}

.button.button-resume {
  color: #fff;
  background-color:#009E95;
  border-color: #fff;
}

.button.button-resume:hover {
  background-color:#03766E;
}

.button-resume img {
  margin-bottom: -8px;
  padding-top: 30px;
}
