* {
  text-align: center;
  font-family: "Helvetica";
}

h1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

header div {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 3em;
  height: 3em;
  background-color: #f8f8f8;
  border-radius: 5px;
  margin-top: 1em;
}

header img {
  position: absolute;
  display: block;
  margin-left: .25em;
  margin-top: .25em;
  width: 2.5em;
  height: 2.5em;
  opacity: 0.2;
  filter: alpha(opacity=40);
}

main {
  display: block;
  margin: 0 auto;
  width: 95%;
}

section {
  display:block;
  float:left;
  width: 19.5%;
  height: auto;
  padding-right: .25%;
  padding-left: .25%;
  padding-bottom:2em;
}

.title {
  text-align: center;
  word-wrap: break-word;
  background-color: #f8f8f8;
  margin-bottom: 2.5%;
  padding: 2px 0;
  font-size: 1.25em;
  font-weight: bold;
}

.card {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

.card:hover .flipper,
  .card.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

.card, .front, .back {
  width: 99.5%;
  height: 280px;
  margin-bottom: .5em;
}

.filler-card {
  width: 99.5%;
  height: 280px;
  margin-bottom: .5em;
}

.column_2 .filler-card {
  background: #FEA04F;
}

.column_3 .filler-card {
  background: #79BE6A;
}

.column_4 .filler-card {
  background: #4fd6db;
}

.column_5 .filler-card {
  background: #CC0099;
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;

  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  background: 0 0 no-repeat;
  z-index: 0;
  display: table;
}

.column_1 .front {
  background: #FF5D49;
  border: 1px solid #FF5D49;
}

.column_2 .front {
  background: #FEA04F;
  border: 1px solid #FEA04F;
}

.column_3 .front {
  background: #79BE6A;
  border: 1px solid #79BE6A;
}

.column_4 .front {
  background: #4fd6db;
  border: 1px solid #4fd6db;
}

.column_5 .front {
  background: #CC0099;
  border: 1px solid #CC0099;
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  display: table;
  background: white;
  border: 1px solid gray;
}

.back p {
  display: block;
  text-align: left;
  font-size: .9em;
  padding: 0 .25em;
  margin: .5em;
}

.back .method_name {
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

.back p span {
  font-weight: bold;
}

.content {
  display: table-cell;
  vertical-align: middle;
  margin: auto 0;
}

.front_title {
  display: table-cell;
  word-wrap: break-word;
  vertical-align: middle;
  margin: auto 0;
  font-size: 1.5em;
  color: white;
  padding: 10px;
}

code {
  display: block;
  background-color: #f8f8f8;
  border: 1px solid #CCCCCC;
  font-family: monospace;
  margin: .25em 1em;
  padding: .5em ;
  text-align: left;
}

code span {
  padding-left: 5px;
  font-family: monospace;
}

code .double {
  padding-left: 20px;
  font-family: monospace;
}

p .inline_code {
  background-color: #f8f8f8;
  padding-top:2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  font-family: monospace;
  border: 1px solid #CCCCCC;
  font-size: 1em;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: #332E1F;
}

footer a:hover {
  color:#72CFCF;
}
